body {
    margin: 0;
    background: #0f1117;
    color: white;
    font-family: Arial;
}

.center-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discord-btn {
    background: #5865f2;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 40px;
}

.log-card {
    background: #1b1f2a;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}
