<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="center-box">
    <h1>Public Shame Bot</h1>

    <a class="discord-btn" href="/auth/discord">
        Login with Discord
    </a>
</div>

</body>
</html>
